/* Hero Image */
/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../images/mashtun65.jpg");
    padding-top: 30px;
    height: 570px;
    background-color: #333;
    background-size: cover;
    background-position: center center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Hero Text */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
	color: #25CED1;
    font-family: "Lobster", cursive;
    font-size: 35px;
}

.hero-text-color {
	color: white;
}

/* Countries Dropdown */
.iso-dropdown {
	color: black;
}

/* Body Font */
body {
    font-family: Quicksand;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 900;
}

/* Nav Bar */
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Burger Menu */
.burger {
	$width: 28px;
	$thickness: 4px;
	
	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;

	border-bottom: $thickness solid currentColor;
	width: $width;

	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out; 

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;    
		-webkit-transition: -webkit-transform 0.5s ease-in-out;        
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}

	&.open {
		border-bottom: $thickness solid transparent;
		transition: border-bottom 0.8s ease-in-out;
		-webkit-transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(1px) translateX(-3px);
			-webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px); 
			-webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}
	}
}

/* Header Font */
.navbar-brand {
    color: #25CED1;
    font-family: "Lobster", cursive;
    font-size: 35px;
}



/* Media Rules */
@media screen and (max-width: 768px) {
	/* Hero Image */
	/* The hero image */
	.hero-image {
	    /* The image used */
	    background-image: url("../images/mashtun65.jpg");
	    padding-top: 30px;
	    height: 1040px;
	    background-color: #333;
	    background-size: cover;
	    background-position: center center;
	}

	/* Hero Text */
	.hero-text {
	    text-align: center;
/*	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);*/
	}
}
