/* Hero Image */
/* The hero image */
.hero-image {
    /* The image used */
    
    background-image: url("../images/kerfuffle65.jpg");
    padding-top: 30px;
    height: 650px;
    background-color: #333;
    background-size: cover;
    background-position: center center;
}

.pTwo-image {
	background-image: url("../images/mashtun65.jpg");
    padding-top: 30px;
    height: 650px;
    background-color: #333;
    background-size: cover;
    background-position: center center;
}

.ximg {
	background-image: url("../images/make-beer-not-war65.jpg");
	margin-top: 25px;
	padding-top: 30px;
	height: 650px;
    background-color: #333;
    background-size: cover;
    background-position: center center;
}

.yimg {
	background-image: url("../images/golden-road65.jpg");
	margin-top: 25px;
	padding-top: 30px;
	height: 650px;
    background-color: #333;
    background-size: cover;
    background-position: center center;	
}


/* Hero Text */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 400px;
}

h3 {
	color: #25CED1;
    font-family: "Lobster", cursive;
    font-size: 35px;
}

.hero-text-color {
	color: white;
}

/* Countries Dropdown */
.iso-dropdown {
	color: black;
}

/* Body Font */
body {

    font-family: Quicksand;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 900;
}


/* Headers */
.uppercase {
    text-transform: uppercase;
}


/* Nav Bar */
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}



/* Header Font */
.navbar-brand {
    color: #25CED1;
    font-family: "Lobster", cursive;
    font-size: 35px;
}

/* Results Div */
#beer {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 400px;
}



/* Media Rules */

@media screen and (max-width: 768px) {

[class*="col-"] {
	width: 100%;
}	

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 300px;
}
	.logo {
		width: 300px;
	}

#beer {
	margin-top: 500px;
}

}
